################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

**/.vs
**/obj
**/bin
**/**.user
/NuGet.config
/Backend/HyperMsg.Scada.WebApi/hypermsg_scada.db
/Backend/HyperMsg.Scada.WebApi/hypermsg_scada.db-shm
/Backend/HyperMsg.Scada.WebApi/hypermsg_scada.db-wal
