################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
**/obj
**/bin
/NuGet.config
/Frontend/HyperMsg.Frontend/HyperMsg.Frontend.csproj
/Frontend/HyperMsg.Frontend/HyperMsg.Frontend.csproj.user
/Backend/HyperMsg.Scada.WebApi/HyperMsg.Scada.WebApi.csproj.user
/Frontend/HyperMsg.Frontend/HyperMsg.Scada.WebApp.csproj.user
/Shared/HyperMsg.Scada.DataAccess/.vs/HyperMsg.Scada.DataAccess
/Shared/HyperMsg.Scada.DataAccess/.vs/ProjectEvaluation
/Backend/HyperMsg.Scada.WebApi/hypermsg_scada.db
/Backend/HyperMsg.Scada.WebApi/hypermsg_scada.db-shm
/Backend/HyperMsg.Scada.WebApi/hypermsg_scada.db-wal
