<configuration>
  <!--<packageSources>
    <add key="github" value="https://nuget.pkg.github.com/buzzx8/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <github>
      <add key="Username" value="" />
      <add key="ClearTextPassword" value="" />
    </github>
  </packageSourceCredentials>-->
</configuration>