@page "/device-list"
@using HyperMsg.Messaging
@using HyperMsg.Scada.Shared.Messages
@using HyperMsg.Scada.Shared.Models

<h1>Device list</h1>
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Status</th>
            <th>Type</th>
        </tr>
    </thead>
    <tbody>
        @if (Devices != null)
        {
            foreach (var device in Devices)
            {
                <tr>
                    <td>@device.Name</td>
                    <td>@device.Status</td>
                    <td>@device.Type</td>
                </tr>
            }
        }
    </tbody>
</table>

@code
{
    [Parameter]
    public IEnumerable<Device>? Devices { get; set; }

    [Inject]
    public IMessagingContext MessagingContext { get; set; } = default!;

    protected override void OnInitialized()
    {
        var response = MessagingContext.Dispatcher.DispatchRequest<DeviceListRequest, DeviceListResponse>(new ());
        Devices = response?.Devices ?? [];
    }
}